@import '~antd/dist/antd.css';

#components-layout-demo-top .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, .2);
  margin: 16px 24px 16px 0;
  float: left;
}

.ant-steps-vertical .ant-steps-item-content {
  min-height: 48px;
  overflow: hidden;
  display: table;
} 

.ant-menu-item.navbar-right{
float: right;
}

.ant-layout-footer{
  position: fixed; bottom: 0; left: 0; right: 0;
}

.addbut {
  margin: 10% ;
  margin-bottom:  15%;
  left: 60%;
  
}